@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/* 
.word-list {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
} */

/*scrolling words container */


.word-banner {
  
  display:flex;


  align-items: center;
  animation: fadeInAnimation ease-in 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
 
  

}

/*actual word-scroll list*/
:host ::ng-deep {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 !important;
  animation: fadeInAnimation ease-in 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: rgb(65, 63, 63);
  cursor: pointer;
 
}

 .show-mobile-word  {
  display:none;



  
}

.hidden {
  display: none;
}

