@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


/*scrolling words container */



/*actual word-scroll list*/
:host ::ng-deep {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 !important;
  animation: fadeInAnimation ease-in 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: rgb(65, 63, 63);
  cursor: pointer;

}



.hidden {
  display: none;
}


.word-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.word-wave svg {
  position: relative;
  display: block;
  width: calc(217% + 1.3px);
  height: 335px;
}

.word-wave .shape-fill {
  fill: #FEEAFA;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .word-wave svg {
      width: calc(216% + 1.3px);
      height: 350px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .word-wave svg {
      width: calc(147% + 1.3px);
      height: 41px;
  }
}
