<div class="landing-wrapper">
  <div class="pic-wrapper">
    <img
      [ngClass]="showPic === 1 ? 'show-mobile-pic' : 'hidden'"
      src="../../assets/images/ckdyoga.jpg"
    />
    <img
      [ngClass]="showPic === 2 ? 'show-tablet-pic' : 'hidden'"
      src="../../assets/images/ckdyoga.jpg"
    />
    <img
      [ngClass]="showPic === 3 ? 'show-desktop-pic' : 'hidden'"
      src="../../assets/images/ckdyoga.jpg"
    />
  </div>

  <p
    [ngClass]="showPic === 1 ? 'show-mobile-text' : 'hidden'"
    style="background-image: url('../../assets/images/tropicalpic.jpg')"
  >
    hollistic wellness is
  </p>
  <p class="landing-text"></p>
</div>
