.landing-wrapper {
  width:70vw;
  overflow-x:hidden;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pic-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: auto;
}

/* .hidden { 
 


  profilepic style
} */

.hidden {
display:none;
}

/* .show-mobile-pic {
 
  justify-content: center;
  animation: 6s ease 0s normal forwards 1 fadeIn;
  -webkit-animation: 6s ease 0s normal forwards 1 fadeIn;
  margin-top: 10%;

  width: 10%;
  height: auto;
  padding-right: 5%;
  z-index: 1;
} */

.show-mobile-pic {
  display: flex;
  justify-content:center;
  animation: 6s ease 0s normal forwards 1 fadeIn;
  -webkit-animation: 6s ease 0s normal forwards 1 fadeIn;
  margin-top: 2rem;
  /* margin-right: 0rem; */
  width: 70vw;
  height: auto;
  z-index: 1;

  
}

.show-tablet-pic {
  display: flex;
  justify-content: center;
  animation: 6s ease 0s normal forwards 1 fadeIn;
  -webkit-animation: 6s ease 0s normal forwards 1 fadeIn;
  margin-top: 10%;
  /* margin-right: 70%; */
  width: 30%;
  height: auto;
  padding-right: 5%;
  z-index: 1;
}

.show-desktop-pic {
  display: flex;
  justify-content: center;
  animation: 6s ease 0s normal forwards 1 fadeIn;
  -webkit-animation: 6s ease 0s normal forwards 1 fadeIn;
  margin-top: 10%;
  /* margin-right: 70%; */
  width: 70%;
  height: auto;
  padding-right: 5%;
  z-index: 1;
}
/* yoga text */
.show-mobile-text {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  align-self:center;
  font-size: calc(3rem + 6vw);
  font-weight:bold;
  margin:0;
  padding-top:3rem;
  animation: fadeInAnimation ease-in 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-size: cover;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
