<navbar  class="navbar" (drawerToggleEmitter)="toggleDrawer($event)">

</navbar>

<p>Hi, my name is Courtney Doyle (she/her/hers), and I am a 359HR Trauma Informed & Y12SR Certified RYT, RCYT, Reiki Level II Practitioner, and  Holistic Wellness Life Coach. I am also a Yoga Therapist in-training, with the IAYT.

From my personal experience with reiki
and yoga, including asana (postures), mind-body connection awareness, breathwork,
mindfulness, and meditation, I have seen and experienced, first hand, how
transformational these holistic practices can be. These measurable and tangible
changes have reflected on, and off, the mat. 

Guided to begin a more community
serving lifestyle, and inspired to pass along the same healing principles to
others, I completed my 200HR yoga teacher training at Yoga on Main, in
Manayunk, where there was a focus on the traditional principles of hatha yoga,
an emphasis on aligning the Chakra system, modifications to make yoga
accessible to every body, the Yoga Sutras & yogic philosophy, Ayurvedic
wellness, and meditation. In addition, there were trainings in prenatal yoga,
chair yoga, breathwork, and yin. Through my personal practices, and with my
history in dance, I also personally love to dive into vinyasa, and sometimes
added cardio flows. 

With the desire to use yoga for the
purpose of mental health and wellness, I completed an additional 40HR course on
trauma informed yoga teaching, with My Vinyasa Practice. In addition, to
further my focus on health and wellbeing, I became Y12SR Certified. Y12SR is
The Yoga of 12-Step Recovery, and it combines the cognitive work of the 12 step
system, along with the somatic approach of yoga.

Y12SR holds room for all
"A's" to be welcome, and acknowledges alcohol, nicotine, other
substance, love & sex, gambling, eating, shopping, OCD & other mental
health behaviors, media, work, and exercise, as just some of the possible
categories of addiction. This format can be helpful for those who personally
experience addition, or those who experience alongside others. 

Guided by the focus on the chakra
system in my 200HR training, I decided I needed to learn more about reiki.
After one reiki session, I felt like a year’s worth of therapy had been done. A
few weeks later, I completed my Reiki Level I training, with Wellness in
Harmony, in Phoenixville, and I went on to complete my Level II training, the
following Fall. 

Lastly, with the experiences of
teaching my younger brother, and my little from Big Brothers Big Sisters, I
decided to complete my Children’s Yoga Teacher Training. I feel there is a
great need in our society to begin teaching mindfulness, meditation, and
emotional regulation earlier on in life, and the benefits of these practices
are endless.

Currently, I am training as a Holistic Life Coach, at The Well Studio, in Philadelphia, and working towards my full 800 hours, with Yoga Life Institute, to officially become a Yoga Therapist, C-IAYT.

Above all else, I recognize, as my
teachings have noted, "the issues are in our tissues," and reiki,
along with yoga’s physical practice combining breath, mindfulness, mind-body connection awareness,
meditation, and movement can release what’s held in our bodies.

What’s
most important to me, is that I aim to hold a safe container for you to process
that which is held in your body, through these mind body connections.</p>
