.nav-container {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	top:0;
	width:100vw;
}


@keyframes fadeInAnimation {
	0% {
	  opacity: 0;
	}
  
	30% {
	  opacity: 0;
	}
	50% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  

.navbar-shadow {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}
.nav-header {
	display: flex;
	animation: fadeInAnimation 10s;
	
}
.nav-toggler {
	position: absolute;
	display: block;
	margin-left: .45rem;
	
	left: 0;
	width: 25px;
	height: 40px;
	transition: 0.3s ease;
	padding-top:2.33rem;
}

.nav-toggler span {
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	height: 3px;
	background-color: black;
	transition: 0.3s ease;
	transform-origin: center;
	
}

.nav-toggler span:nth-child(1) {
	top:40%;
}

.nav-toggler span:nth-child(2) {
	top: 52%;
	transform: translateY(-50%);
}

.nav-toggler span:nth-child(3) {
	top: 52%;
	transform: translateY(-50%);
}

.nav-toggler span:nth-child(4) {
	bottom: 35%;
}

.nav-toggler.drawer-open span:nth-child(1) {
	top:50%;
	left: 50%;
	width: 0%;
	opacity: 0;
}

.nav-toggler.drawer-open span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}

.nav-toggler.drawer-open span:nth-child(3) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

.nav-toggler.drawer-open span:nth-child(4) {
	bottom:50%;
	left: 50%;
	width: 0%;
	opacity: 0;
}

.navbar-brand.override {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size:2.8rem;
	font-weight: bolder;
	padding-left:1rem;
	text-decoration: none;
	padding-bottom:3rem;
	background-size: cover;
	background-clip: text;
	color: transparent;
	top:0;


}

@media screen and (min-width: 48rem) {

	.nav-toggler,
	.nav-toggler.open {
		display: none;
	}

	.navbar-brand.override {
		margin: 0 1rem 0 0;
	}

}

.wave {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
  }
  
  .wave svg {
	position: relative;
	display: block;
	width: calc(119% + 1.3px);
	height: 157px;
	transform: rotateY(180deg);
  }
  
  .wave .shape-fill {
	fill: #dbd9db;
  }
  
  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
	.wave svg {
		width: calc(119% + 1.3px);
		height: 162px;
		z-index:0;
	  
	}
  }
  
  /** For mobile devices **/
  @media (max-width: 767px) {
	.wave svg {
		width: calc(186% + 1.3px);
		height: 108px;
	}
  }