@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.bio-container {
  padding-top:3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100vw;
  animation: fadeInAnimation 10s;
  /* background-color: #8e9aaf;   */
  backdrop-filter: blur(1px);
  /* border-radius: 0.5rem; */
}

.text-wrapper-desktop {
  

  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 2% 2% 2% 2%;
  background: linear-gradient(0deg, #ABC4FF, #f7f7f734  40%, #f7f7f7 );
  box-shadow: inset 5px 5px 10px #d2d2d265,
              inset -5px -5px 10px #ffffff00;


}


.text-wrapper-mobile {
  
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 2% 2% 2% 2%;
  background: linear-gradient(0deg, #ABC4FF, #f7f7f734  40%, #f7f7f7 );
  box-shadow: inset 5px 5px 10px #d2d2d265,
              inset -5px -5px 10px #ffffff00;
              

}


.bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width:100vw;
  padding: 4rem;
  font-size: large;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  margin: 0;
}

.bio-large {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 40vw;
  padding: 4rem;
  font-size: 1.75rem;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  letter-spacing: 0.33px;
  margin: 0;
}

.bio-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.bio-wave svg {
  position: relative;
  display: block;
  width: calc(217% + 1.3px);
  height: 600px;
}

.bio-wave .shape-fill {
  fill: #abc4ff;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .bio-wave svg {
    width: calc(216% + 1.3px);
    height: 200px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .bio-wave svg {
    width: calc(300% + 1.3px);
    height: 500px;
  }
}

.bio-wrapper {
  width: 100vw;
}
