@keyframes slideInFromBottom {
    100% {
      transform: translateY(-100%);
    }
    0% {
      transform: translateY(0%);
    }
  }

.app-splash-screen {
  background: #54596B;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  width:100%;
  transition: left 0.5s;
 
}

.loading-image {
    display:flex;
}

.shade {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
     display:flex; 
    height:100%;
    width:100%;
    background:#54596B;
    animation: 2s ease-out 0s 1 forwards slideInFromBottom;
  
   
  
   

}
.chakra {
    display:flex;
    margin-left:1.666666667%;
    z-index: -1;
}


