.main-app-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100vh;
    width:100vw;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    background-color: #3bb78f;
    background: -webkit-linear-gradient(to right, purple, purple); 
    background: url(../../src/assets/images/staticnoise.PNG) 100% , linear-gradient(240deg, #0050112c 40%, #01140c4f 74%) ;
    background-blend-mode:multiply;
}





/* navbar styles */
:host {
    position: relative;
    display: block;
    left: 0;
    transition: left 0.3s ease;
  }
  
  :host.drawer-open {
    left: 70%;
  }
  
  .nav-bar {
    position: fixed;
    display: block;
    top: 0;
    width: 100vw;
    z-index: 100;
  }
  
  .navbar-padding {
    display: block;
    position: relative;
    margin-top: 3.5rem;
  }
  
  .main-section {
    min-height: 125vh;
  }
  
  .dummy-text {
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: justify;
  }