.main-app-container {
    height:100vh;
    width:100vw;
    background-color: #3bb78f;
    background: -webkit-linear-gradient(to right, purple, purple); 
    background: url(../../src/assets/images/staticnoise.PNG) 100% , linear-gradient(240deg, #0050112c 40%, #01140c4f 74%) ;
    background-blend-mode:multiply;
}






