@keyframes fadeInAnimation {
	0% {
	  opacity: 0;
	}
  
	30% {
	  opacity: 0;
	}
	50% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
.form-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    align-items:center;
    width:100vw;
    margin-bottom:50px;
    animation: fadeInAnimation ease-in 8s;
 
}
 .form-header-contact {
    background-size: cover;
	background-clip: text;
	color: transparent;
    font-size: 3rem;
    margin:0;
}
.form-header {
    background-size: cover;
	background-clip: text;
	color: transparent;
    font-size: 3rem;
    margin-bottom: 0;
    /* color:whitesmoke; */
    /* text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #F48185, 0px 0px 10px #F48185; */
}



.yoga-icon {

    height:7rem;
    width:7rem;
    border-radius: 50%;
   
    filter: blur(0.75px);
    -webkit-filter: blur(0.75px);
    
    /* background: #e0e0e0;
    box-shadow: 20px -20px 60px #bebebe,
    -20px 20px 60px #ffffff; */
}

.form-wrapper {
display:flex;
justify-content: center;
flex-direction: column;
align-items:center;
align-self: center;

}


.form-name {
    display:flex;
    resize:none;
    flex-direction: column;
    border:none;
    border-radius: 0rem;
    margin:1rem;
    width:60vw;
    text-align:start;
}
.form-email {
    display:flex;
    resize:none;
    flex-direction: column;
    border:none;
    border-radius: 0rem;
    margin:1rem;
    text-align:start;
    width:60vw;
}
.form-button {
    border:none;
    border-radius: 1rem;
    height:3rem;
    width:3rem;

}
.form-message {
    display:flex;
    resize:none;
    flex-direction: column;
    border:none;
    border-radius: .25rem;
    margin:1rem;
    height:5rem;
    width:60vw;
    text-align:start;
    
}

.orb {

    height:7rem;
    width:7rem;
  
    border-radius: 50%;
    background: #fffefc;
    box-shadow: 20px -20px 60px #b098a4,
    -20px 20px 60px #b098a4;
}
.fa {  
    padding: 20px;  
    text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
  }  
.fa-instagram  {
    color:black;
    padding:3rem;
}

.form-wave {
    display:flex;
    top: 0;
    left: 0;
    width: 100%;
   
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.form-wave svg {
    position: relative;
    display: block;
    width: calc(217% + 1.3px);
    height: 335px;
}

.form-wave .shape-fill {
    fill: #abc4ff;
}

/** For tablet devices **/
@media (min-width: 768px)  {
    .form-wave svg {
        width: calc(216% + 1.3px);
        height: 53px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .form-wave svg {
        width: calc(122% + 1.3px);
        height: 53px;
    }
}

.assisting-pic {
    display:flex;
    max-width:60vw;
    height:auto;
    border-radius: 50px;
  
    
}

.pic-border {
    display: flex;
    width: auto;
    margin-top:3rem;
    justify-content: center;
    align-items:center;
    animation: 6s ease 0s normal forwards 1 fadeIn;
    -webkit-animation: 6s ease 0s normal forwards 1 fadeIn;
    z-index: 0;
    border-radius: 50px;
    background: #DFE5E4;
    box-shadow:  9px 9px 18px #595c5b,
                -9px -9px 18px #ffffff;
    }

    .class-sched-header {
        background-size: cover;
        background-clip: text;
        color: transparent;
        font-size: 2.45rem;
        margin-bottom: 0;
        padding-top:2rem;
    }

    .class-sched {
        background-size: cover;
        background-clip: text;
        color: transparent;
        font-size: 1.75rem;
        margin-bottom: 0;
    }

    .class-sched-subheader {
        background-size: cover;
        background-clip: text;
        color: transparent;
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    a:link {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
      }