@keyframes fadeInAnimation {
	0% {
	  opacity: 0;
	}
  
	30% {
	  opacity: 0;
	}
	50% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
.form-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    align-items:center;
    width:100vw;
    margin-bottom:50px;
    animation: fadeInAnimation ease-in 7s;
 
}
 .form-header-contact {
    background-size: cover;
	background-clip: text;
	color: transparent;
    font-size: 3rem;
    margin:0;
}
.form-header {
    background-size: cover;
	background-clip: text;
	color: transparent;
    font-size: 3rem;
    margin-bottom: 0;
    /* color:whitesmoke; */
    /* text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #F48185, 0px 0px 10px #F48185; */
}



.yoga-icon {

    height:7rem;
    width:7rem;
    border-radius: 50%;
   
    filter: blur(0.75px);
    -webkit-filter: blur(0.75px);
    
    /* background: #e0e0e0;
    box-shadow: 20px -20px 60px #bebebe,
    -20px 20px 60px #ffffff; */
}

.form-wrapper {
display:flex;
justify-content: center;
flex-direction: column;
align-items:center;
align-self: center;

}


.form-name {
    display:flex;
    resize:none;
    flex-direction: column;
    border:none;
    border-radius: 2rem;
    margin:1rem;
    width:12rem;
    text-align:center;
}
.form-email {
    display:flex;
    resize:none;
    flex-direction: column;
    border:none;
    border-radius: 2rem;
    margin:1rem;
    text-align:center;
    width:12rem;
}
.form-button {
    border:none;
    border-radius: 1rem;
    height:3rem;
    width:3rem;

}
.form-message {
    display:flex;
    resize:none;
    flex-direction: column;
    border:none;
    border-radius: .25rem;
    margin:1rem;
    height:5rem;
    width:12rem;
    
}

.orb {

    height:7rem;
    width:7rem;
  
    border-radius: 50%;
    background: #fffefc;
    box-shadow: 20px -20px 60px #b098a4,
    -20px 20px 60px #b098a4;
}
.fa {  
    padding: 20px;  
    text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
  }  
.fa-instagram  {
    color:black;
    padding:3rem;
}

.form-wave {
    display:flex;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.form-wave svg {
    position: relative;
    display: block;
    width: calc(217% + 1.3px);
    height: 335px;
}

.form-wave .shape-fill {
    fill: #abc4ff;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .form-wave svg {
        width: calc(216% + 1.3px);
        height: 350px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .form-wave svg {
        width: calc(122% + 1.3px);
        height: 53px;
    }
}