
<div class="form-container">
    <div class="form-wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    <div class = "orb">
<img src="../../assets/images/yogasymbol2.png" class="yoga-icon">
</div>

<h1 class = "form-header" style="background-image: url('../../assets/images/tropicalpic.jpg')" >Interested?</h1>
<h3 class ="form-header-contact" style="background-image: url('../../assets/images/tropicalpic.jpg')">Schedule a consultation</h3>
<div class = "form-wrapper">
<form action="https://formsubmit.co/not.just.asana.yoga@gmail.com" method="POST">
    <textarea type="text" name="name" required placeholder="Name" class="form-name"></textarea>
    <textarea type="email" name="email" required placeholder="Email" class="form-email"></textarea>
    <textarea type="text" name = "message" placeholder="Ex: 'I'd like to book a yoga session' " required class = "form-message"></textarea>
    <!-- <input type="hidden" name="_next" value="../../app/formpage/thank-you.html"> -->
    <button type="submit" class="form-button">💌</button>
</form>

</div>
 <a href="https://www.instagram.com/not.just.asana/"> <i class="fa fa-instagram" ></i></a>
</div>
