<div class="form-container">
<img src="../../assets/images/yogaicon2.PNG" class="yoga-icon">
<h1 class = "form-header">Interested in Private Sessions?</h1>
<h3 class ="form-header">Contact Me</h3>
<div class = "form-wrapper">
<form action="https://formsubmit.co/kristoferdowe@gmail.com" method="POST">
    <input type="text" name="name" required placeholder="Name" class="form-name">
    <input type="email" name="email" required placeholder="Email" class="form-email">
    <button type="submit" class="form-button">Send</button>
</form>
</div>
</div>