/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap");

* {
  font-family: "Shippori Mincho B1", serif;
  font-weight: 500;
  /* font-size: 16px; */
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  width: 100vw;
  margin: 0 !important;
  overflow-x: hidden;
  
}
.section {
  position: relative;
  display:flex;
  align-items:center;
  min-height:400px;
  padding: 100px 20vw;

}



.green {
background:rgb(194, 204, 180);
}



.hidden {
  display: none;
}

/*global media queries applied to templated items */
.show-mobile-word {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0;
  font-size: 2rem;
  z-index:1;
 

   /* animation: fadeInAnimation ease-out 1s; */
 
 /*animation-iteration-count: 1;
  animation-fill-mode: forwards; */

  /* cursor: pointer; */
}

.show-desktop-word {
  display: flex;
  position:relative;
  top:.5rem;
  /* flex-direction: row;
  justify-content: center; */
  align-items: center;
  align-self: center;
  margin: 0;
  z-index: 1;
 
}

.show-mobile-text2 {
  display: flex;
  width:100vw;
  /* height:200px; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  font-size: 3rem;
  margin: 0;
  padding-left: 2rem;
  padding-right:2rem;

  animation: fadeInAnimation ease-in 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-size: cover;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}


