
<div class="main-app-container">

    <app-splash-screen >
    </app-splash-screen>
    
    <navbar  class="navbar" (drawerToggleEmitter)="toggleDrawer($event)"> 
    </navbar>
    
    <app-landing>
    </app-landing>
    
    <word-banner >
    </word-banner>
    
    <section>
    <app-biocomponent>
    </app-biocomponent>
    </section>
    
    <section class="section-divider">
    </section>
    
    <section>
    <app-formpage id="anchor-scroll"></app-formpage>
    <div class="curve"></div>
    </section>
 </div>